body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
  background-color: #f0f0f0;
  text-align: center;
  padding: 50px;
  font-size: 60px;
  margin-bottom: 1px;
  
}
button {
    padding: 2px 30px;
    font-size: 36px;
    cursor: pointer;
    background-color: deeppink;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 30px;
    
    
}

#message-box {
    background-color: lightpink;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    display: block;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.4);
    font-size: 28px;
    max-width: 800px;
    justify-content: center;
    margin: auto;
    font-style: italic;
}
.justify {
    text-align: justify;
    text-indent: 40px;
}
.center {
    text-align: center;
}


.hidden {
    display: none !important;
    
}